
#firstcontainer{
    height: 500px;
    width: 400px;
    background-color: #606c38;
}
#secondcontainer{
    height: 500px;
    width: 400px;
    background-color: #606c38;
    margin-top: 53px;
    margin-left: 80px;
}
